# Copy this file to Notifications/.env.
ConnectionStrings__DefaultConnection=Host=tanks-relational-db.cieuktyolaui.us-east-1.rds.amazonaws.com;Port=5432;Database=TanksDb;Username=NotificationsLogin;Password=StrongPassword456!;SSL Mode=Require;Trust Server Certificate=true;
