# Copy this file to Clans/.env.
ConnectionStrings__DefaultConnection=Host=tanks-relational-db.cieuktyolaui.us-east-1.rds.amazonaws.com;Port=5432;Database=TanksDb;Username=ClansLogin;Password=StrongPassword789!;SSL Mode=Require;Trust Server Certificate=true;
